@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #fff;
}

a {
  color: #016aba;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/**
 * Similar to Jumbotron
 */

.jumbo {
  background: #fff;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.jumbo-contact-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.jumbo-testimonials-page {

}

/**
 * Header
 */

 .header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-around;
  margin-bottom: 40px;
  max-width: 100%;
  width: 100vw;
}

.nav-icon {
  fill: #fff;
  height: 30px;
  margin: 20px;
  width: 30px;
}

.nav-btn-container {
  border-radius: 20%;
  display: flex;
  height: 80px;
  flex-direction: row;
  flex-wrap: wrap;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

 .button {
  align-items: center;
  background: #44C0C5;
  border: 2px #44C0C5 solid;
  color: #fff;
  display: flex;
  flex-grow: 1;
  font-family: 'Bree Serif', serif;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 1px;
  text-decoration: none;
}

.button:active {
  background: #fff;
  border: 2px #C5A551 solid;
  color: #C5A551;
}

.button:active .nav-icon {
  fill: #C5A551;
}

.button:hover {
  opacity: 1;
}

/**
 * Footer
 */

.footer {
  padding: 1%;
}

/**
 * Home Page
 */

.pcos-main-banner-logo {
  display: block;
  margin: auto;
}

.pcos-wc-logo {
  background: url(../assets/images/pcos-womens-center-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px #44C0C5 solid;
  border-radius: 10%;
  display: block;
  max-height: 197px;
  max-width: 279px;
  min-height: 197px;
  min-width: 279px;
  margin: auto;
}

.emily-plant {
  border-bottom: 2px #C5A551 solid;
  border-top: 2px #C5A551 solid;
  margin-top: 40px;
  width: 100vw;
}

.welcome-container {
  align-items: space-around;
  background-color: rgba(68,192,197, 0.75);
  border: 2px #C5A551 solid;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  height: 400px;
  justify-content: space-around;
  left: 100px;
  padding: 60px;
  position: absolute;
  top: 532px;
  width: 700px;
}

.wc-p-center {
  text-align: center;
}

.wc-p-left {
  text-align: left;
}

.wc-button {
  align-items: center;
  border: 2px #C5A551 solid;
  background: #C5A551;
  color: #fff;
  display: flex;
  font-size: 1.15rem;
  font-weight: bold;
  justify-content: center;
  opacity: 0.9;
  padding: 10px;
  text-decoration: none;
}

.wc-button:hover {
  opacity: 1;
}

.wc-button:active {
  background: #fff;
  color: #C5A551;
}

.wc-offerings-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}

.wc-offering {
  border: 2px #C5A551 solid;
  margin: 20px;
  padding: 40px;
  width: 50%;
}

.wc-offering-title {
  font-size: 1.75rem;
  text-align: center;
}
.wc-offering-text {
  font-size: 1rem;
  padding: 10%;
}

.wc-offering-btn {
  background: #C5A551;
  border: 2px #C5A551 solid;
  color: #000;
  margin-left: 10%;
  padding: 12px;
  text-decoration: none;
}

.wc-offering-btn:active {
  background: #fff;
  color: #C5A551
}

/**
 * About Page
 */

.about-bio-box {
  border: 2px #C5A551 solid;
  display: flex;
  margin: 10% auto;
  width: 85%;
}

.bb-right {
  justify-content: flex-end;
}

.about-bio-text {
  margin: auto;
}

/**
 * Work With Me /Schedule Page
 */

.about-emily-mug {
  height: 450px;
  width: 310px;
}

/**
 * Testimonials Page
 */

.test-emily-kayak {
  border-bottom: 2px #C5A551 solid;
  border-top: 2px #C5A551 solid;
  width: 100vw;
}

.testimonital-card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  left: 0px;
  overflow-y: scroll;
  padding-top: 110px;
  position: absolute;
  top: 0px;
  width: 100vw;
}

.testimonial-quote-box {
  align-items: center;
  background-color: #44C0C5;
  border: 2px #C5A551 solid;
  border-radius: 10%;
  display: flex;
  height: 60px;
  justify-content: center;
  padding: 8px;
  position: relative;
  top: -50px;
  width: 60px;
}

.testimonial-quote-icon {
  height: 60px;
  fill: #fff;
  width: 60px;
}

.testimonial-card {
  align-items: center;
  background-color: rgba(68,192,197, 0.75);
  border: 2px #C5A551 solid;
  border-radius: 10%;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 540px;
  justify-content: flex-start;
  margin-bottom: 80px;
  padding: 30px;
  width: 430px;
}

.test-quote {
  margin-bottom: 15px;
  margin-top: 10px;
  text-indent: 20px;
  width: 330px;
}

.test-name {
  margin-top: 15px;
}

/**
 * Contact Page
 */

.contact-page-header {
  color: #44C0C5;
  font-family: 'Bree Serif', serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contact-link-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}

.contact-link {
  font-size: 2rem;
  font-weight: normal;
}

.contact-link:visited {
  color: #000;
}

.contact-link-clickable:hover {
  color: #C5A551;
  font-weight: bold;
}

.contact-link-static:hover {
  cursor: default;
}

.contact-icon {
  height: 40px;
  margin-right: 30px;
  width: 40px;
}

/**
 * Utilities
 */

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

// .screen-reader{
//   position: absolute;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   height: 1px; width: 1px;
//   margin: -1px; padding: 0; border: 0;
// }

// @media only screen and (max-width: 919px) {
//   .rental.detailed .image, .rental.detailed .image.large {
//     margin: 30px 25px 25px 25px;
//     flex-basis: 100%;
//     cursor: default;
//   }

//   .rental.detailed .image:hover {
//     flex-basis: 100%;
//     cursor: default;
//   }

//   .rental.detailed .image small {
//     display: none;
//   }

//   .rental.detailed button.image:hover:after {
//     opacity: 0;
//   }

//   .rental.detailed button.image:focus:after {
//     opacity: 0.1;
//   }

//   .rental.detailed .map {
//     margin-top: 25px;
//   }
// }
