<div class="footer">
  <p class="footer-copyright-text">&#169; The PCOS Wellness Coach</p>
  <div class="footer-link-container">
    <div>
      <a href="https://www.facebook.com/PCOS.Wellness.Coach" 
        target="_blank"
        rel="noopener noreferrer"
        class="footer-icon-link">{{svg-jar "001-facebook" class="footer-icon"}}
      </a>
      <a href="https://www.instagram.com/pcos.wellness.coach/" 
        target="_blank"
        rel="noopener noreferrer"
        class="footer-icon-link">{{svg-jar "002-instagram" class="footer-icon"}}
      </a>
    </div>
    <div class="footer-link-credits">
      Icons made by 
      <a href="https://www.flaticon.com/authors/freepik" 
        target="_blank"
        rel="noopener noreferrer"
        class="footer-link"
        title="Freepik">Freepik
      </a> from 
      <a href="https://www.flaticon.com/" 
        target="_blank"
        rel="noopener noreferrer"
        class="footer-link"
        title="Flaticon">www.flaticon.com
      </a>
    </div>
  </div>
</div>
