<div class="footer">
  Icons made by 
  <a href="https://www.flaticon.com/authors/gregor-cresnar" 
    target="_blank"
    rel="noopener noreferrer"
    class="footer-link"
    title="Gregor Cresnar">Gregor Cresnar
  </a> from 
  <a href="https://www.flaticon.com/" 
    target="_blank"
    rel="noopener noreferrer"
    class="footer-link"
    title="Flaticon">www.flaticon.com
  </a>
  and
  <a href="https://www.flaticon.com/authors/freepik" 
    target="_blank"
    rel="noopener noreferrer"
    class="footer-link"
    title="Freepik">Freepik
  </a> from 
  <a href="https://www.flaticon.com/" 
    target="_blank"
    rel="noopener noreferrer"
    class="footer-link"
    title="Flaticon">www.flaticon.com
  </a>
  <a href="https://www.facebook.com/PCOS.Wellness.Coach" 
    target="_blank"
    rel="noopener noreferrer"
    class="footer-icon-link">{{svg-jar "001-facebook" class="footer-icon"}}
  </a>
  <a href="https://www.instagram.com/pcos.wellness.coach/" 
    target="_blank"
    rel="noopener noreferrer"
    class="footer-icon-link">{{svg-jar "002-instagram" class="footer-icon instagram-icon"}}
  </a>
</div>
