<nav class="nav-btn-container">
  <LinkTo @route="index" class="button">Home</LinkTo>
  <LinkTo @route="about" class="button">About</LinkTo>
  <LinkTo @route="schedule" class="button">Work With Me</LinkTo>
  <LinkTo @route="testimonials" class="button">Testimonials</LinkTo>
  <LinkTo @route="contact" class="button">Contact</LinkTo>
</nav>
