<div class="wc-offerings-container">
  <div class="wc-offering">
    <h4 class="wc-offering-title arimo-text">PCOS Nutrition Coaching</h4>
    <p class="wc-offering-text arimo-text">Let’s work together to help you manage your insulin resistance and lose weight through nutrition and lifestyle methods that work with your unique body and lifestyle!</p>
    <LinkTo @route="schedule" class="wc-offering-btn arimo-text">Learn More</LinkTo>
  </div>
  <div class="wc-offering">
    <h4 class="wc-offering-title arimo-text">General Nutrition Coaching</h4>
    <p class="wc-offering-text arimo-text">Don’t have PCOS, but want to improve your nutrition and lifestyle habits to achieve life-long success? I can help!</p>
    <LinkTo @route="schedule" class="wc-offering-btn arimo-text">Learn More</LinkTo>
  </div>
</div>