<div class="wc-offerings-container">
  <div class="wc-offering">
    <h4 class="wc-offering-title arimo-text">Virtual Private Coaching</h4>
    <h5 class="wc-coming-soon arimo-text"> </h5>
    <p class="wc-offering-text arimo-text">Feel like your PCOS has taken over your body and you want it back? Confused about your insulin resistance and overwhelmed by all the “advice” out there? I hear ya and I’ve been there! Let me help.</p>
    <LinkTo @route="schedule" class="wc-offering-btn arimo-text">Learn More</LinkTo>
  </div>
  <div class="wc-offering">
    <h4 class="wc-offering-title arimo-text">Do-It-Yourself Course</h4>
    <h5 class="wc-coming-soon arimo-text">(Coming Soon!)</h5>
    <p class="wc-offering-text arimo-text">No time for private coaching? No worries! Learn how to control your PCOS and insulin resistance from the comfort of your own home at your own pace!</p>
    <LinkTo @route="schedule" class="wc-offering-btn arimo-text">Learn More</LinkTo>
  </div>
</div>