<div class="testimonital-card-container">

  <div class="testimonial-card">
    <QuoteIcon/>
    <div class="testimonial-contents-container">
      <img class="testimonial-card-pic"
        alt="runner picture"
        src="/assets/images/testimonials-nicole.jpg">
      <div class="testimonial-text-container">
        <h4 class="test-quote">“You make this so easy and achievable! You guide me without pushing me and have helped me learn to take responsibility for my health and habits. You’re helping women with their diet and lifestyle, but also helping them feel good and empowered to make healthy lifestyle changes.”</h4>
        <h4 class="test-name">- Nicole</h4>
      </div>
    </div>
  </div>

  <div class="testimonial-card">
    <QuoteIcon/>
    <div class="testimonial-contents-container">
      <div class="testimonial-text-container">
        <h4 class="test-quote">“Thank you so much for your help! I couldn’t have done it without your help and encouragement!”</h4>
        <h4 class="test-name">- Heather</h4>
        <h4 class="test-name">(lost over 60# and dropped 4 clothing sizes!)</h4>
      </div>
      <img class="testimonial-card-pic-heather"
        alt="beach running picture"
        src="/assets/images/testimonials-heather.jpg">
    </div>
  </div>
 
  <div class="testimonial-card">
    <QuoteIcon/>
    <div class="testimonial-contents-container">
      <img class="testimonial-card-pic-dawne"
        alt="gymnast picture"
        src="/assets/images/testimonials-dawne.jpg">
      <div class="testimonial-text-container">
        <h4 class="test-quote">“It means so much you believed in me… I was so nervous that you were going to force me into a mold. I was pleasantly surprised how flexible and encouraging you were in what I believed was important: health over weight/size. I will definitely keep dancing and practicing intuitive eating! On a side note, I lost another pound this week! Yay! Many blessings to you and thank you again for all your support!”</h4>
        <h4 class="test-name">- Dawne</h4>
      </div>
    </div>
  </div>
 
  <div class="testimonial-card">
    <QuoteIcon/>
    <div class="testimonial-contents-container">
      <div class="testimonial-text-container">
        <h4 class="test-quote">“You have completely changed my mindset about health goals. You helped me see the silver lining to those “bad” days when life was overwhelming and I didn’t meet my goals. I would normally beat myself and fall off the wagon completely. I don’t do that anymore. Now, I hear your voice telling me to find the positive in the experience. I don’t beat myself up or fall off the wagon anymore. This helps me so much. It’s a new way of thinking about weight loss and habits that actually works! Anyone can go online and track calories, but changing your mindset is huge and that is what you do.”</h4>
        <h4 class="test-name">- Nicole F.</h4>
      </div>
      <img class="testimonial-card-pic"
        alt="geeting the sunset picture"
        src="/assets/images/testimonials-nicole-f.jpg">
    </div>
  </div>

  <div class="testimonial-card">
    <QuoteIcon/>
    <div class="testimonial-contents-container">
      <img class="testimonial-card-pic"
        alt="staring at the horizon picture"
        src="/assets/images/testimonials-ginny.jpg">
      <div class="testimonial-text-container">
        <h4 class="test-quote">“I truly am thankful to have worked with you and appreciate your style of coaching. I have worked with other coaching programs before and dreaded those calls. I so looked forward to speaking with you every time. You have given me so much help and encouragement. I am grateful for you beyond measure.”</h4>
        <h4 class="test-name">- Ginny</h4>
      </div>
    </div>
  </div>

  <div class="testimonial-card">
    <QuoteIcon/>
    <div class="testimonial-contents-container">
      <div class="testimonial-text-container">
        <h4 class="test-quote">“This program makes me feel better about other parts of my life too. I feel my confidence is spreading. I don’t feel as vulnerable to the bad decisions or ashamed to talk about what I am doing with my health. I am doing something I feel proud of and can talk about it with other people. You have been a big part of this – who you are, what you do, and all the accountability. I now think “What would Emily say?” You help support my inner voice make healthy choices.”</h4>
        <h4 class="test-name">- Laura</h4>
      </div>
    </div>
    {{!-- <img class="testimonial-card-pic"
    alt="runner picture"
    src="/assets/images/testimonials-nicole.jpg"> --}}
  </div>

</div>
