<div class="jumbo">
  <Header/>
  <div class="about-bio-box">
    <img
      class="about-emily-profile"
      src="/assets/images/about-headshot.jpg"
      alt="Emily profile pic">
    <div class="about-bio-text-container">
      <h1 class="about-page-header-text">ABOUT EMILY BATTIATO, RD, LDN</h1>
      <p class="about-bio-text">Hey there, I’m Emily!</p>
      <p class="about-bio-text">I’m a registered dietitian, teacher, and PCOS wellness coach..who has PCOS too.  I'm also a wife, dog mom, and lover of all things chocolatey.</p>
      <p class="about-bio-text">I help people who have both PCOS and insulin resistance learn how to take controlover their bodies again through food, lifestyle, mindset, and habit changes... <span class="about-bio-span">that actually stick!</span></p>
      <h2 class="about-bio-text-header">Why? Because I've been there too.</h2>
      <p class="about-bio-text">Having been diagnosed with PCOS and insulin resistance over 20 years ago, I know the struggle. Truly, I do.</p>
      <p class="about-bio-text">It sucks and it's incredibly overwhelming... <span class="about-bio-span">especially when you feel like no one understands what you are goingthrough.</span></p>
      <h2 class="about-bio-text-header">You're not alone, so don't go it alone.</h2>
    </div>
  </div>
  <div class="about-bio-box">
    <div class="about-bio-text-container">
      <h2 class="about-bio-text-header">My PCOS Story:</h2>
      <p class="about-bio-text">When I was 5, I had doubled my weight and no one knew why. When I hit puberty, that's when all the other symptoms hit me too... and no one knew how to help.</p>
      <p class="about-bio-text">After countless judgmental doctors, dietitians, endocrinologists, etc... my parents and I still had veryfew answers, except:</p>
      <ul class="about-ulist">
        <li>1) “You must be lying about your diet.”</li>
        <li>2) “You will never be thin.”</li>
        <li>3) “You will never be able to have kids.”</li>
      </ul>
      <p class="about-bio-text"><em>Ouch.</em></p>
      <h2 class="about-bio-text-header">The only advice I was consistently given: <span class="about-bio-span">“Just lose weight.”</span></h2>
      <p class="about-bio-text">No matter what I tried, the weight always came back. I felt like my own body was fighting me and Ihad no control. I also developed an eating disorder, obsessed over the number on the scale, andhated myself for it.</p>
      <p class="about-bio-text">After I graduated with a degree in education, I decided to get weight loss surgery to "just lose weight." But, guess what? The weight STILL came back! I felt like a failure.That's when I realized something...</p>
      <p class="about-bio-text">This was more than about needing to “just lose weight.”</p>
    </div>
  </div>
  <div class="about-bio-box">
    <img
      class="about-emily-profile"
      src="/assets/images/about-today-pic.jpg"
      alt="Emily today pic">
    <div class="about-bio-text-container">
      <ul class="about-ulist">
        <li>It’s NOT about the scale.</li>
        <li>It’s NOT about carbs.</li>
        <li>I am NOT broken.</li>
        <li>I just needed to better understand my unique body and be kinder to myself.</li>
      </ul>
      <p class="about-bio-text">So, I went back to school and became a registered dietitian.</p>
      <p class="about-bio-text">After over 1,200 hours of supervised practice and starting a local support group for people with PCOS,I found my calling: helping people like me with their difficult journey too.</p>
      <p class="about-bio-text">I realized I wasn’t alone and it helped to talk with people who understood my journey.</p>
      <ul class="about-ulist">
        <li>I FINALLY understood my body.</li>
        <li>I FINALLY felt in control of my body.</li>
        <li>I FINALLY found tools that helped me feel better and be kinder to myself.</li>
      </ul>
      <p class="about-bio-text">Am I perfect? Heck no! But, I found what works for my unique body, which has made me happier and healthier.</p>
      <h2 class="about-bio-text-header">And I'm here to help YOU too!</h2>
      <h2 class="about-bio-text-header">Let's do this together!</h2>
      <a 
      href="https://my.practicebetter.io/#/5f9768352a90290864f74c2e/bookings?s=5f97776d2a90290864f7aade" 
      target="_blank"
      rel="noopener noreferrer"
      class="wc-button"
      >Book a FREE Discovery Call</a>
    </div>
  </div>
  <Footer/>
</div>
