<div class="jumbo">
  <Header/>
  <div class="about-bio-box">
    <img
      class="about-emily-outside"
      src="/assets/images/emily-wall-photo-cropped.jpg"
      alt="Emily profile pic">
    <h4 class="about-bio-text">Some text here</h4>
  </div>
  {{!-- <Footer/> --}}
</div>
