<div class="jumbo">
  <Header/>
  <div class="about-bio-box">
    <img
      class="about-emily-profile"
      src="/assets/images/about-headshot.jpg"
      alt="Emily profile pic">
    <div class="about-bio-text-container">
      <h2 class="about-bio-text-header">Hello there! I’m Emily and I have PCOS too.</h2>
      <p class="about-bio-text">I’m a registered dietitian and wellness coach too. I help people with PCOS find ways to lose weight, while improving their hormone balance, gut health, and inflammation through:</p>
      <ul class="about-ulist">
        <li>1) NO scales.</li>
        <li>2) NO diets.</li>
        <li>3) NO judgment.</li>
        <li>4) Just small nutrition and lifestyle modifications + mindset work to build healthy habits that easily fit into YOUR lifestyle… and STICK!</li>
      </ul>
      <p class="about-bio-text">For almost a decade, I have been empowering people with PCOS to find solutions to help them take control of their health. Many of them had the same story as me…</p>
    </div>
  </div>
  <div class="about-bio-box">
    <div class="about-bio-text-container">
      <h2 class="about-bio-text-header">My story:</h2>
      <p class="about-bio-text">I was diagnosed over 20 years ago, when no one seemed to know how to help me. I doubled my weight at 5-years-old and was diagnosed with PCOS at 12. After countless judgmental doctors, dietitians, endocrinologist, etc… my parents and I still had very few answers, except:</p>
      <ul class="about-ulist">
        <li>1) “You must be lying about your diet.”</li>
        <li>2) “You will never be thin skinny.”</li>
        <li>3) “You will never be able to have kids.”</li>
      </ul>
      <p class="about-bio-text">Ouch.</p>
      <p class="about-bio-text">The only advice I was given: “Just lose weight.” (You too? Let’s talk.) </p>
    </div>
  </div>
  <div class="about-bio-box">
    <div class="about-bio-text-container">
      <h2 class="about-bio-text-header">My journey:</h2>
      <p class="about-bio-text">No matter what I tried, the weight always came back. I felt like my own body was fighting me and I had no control. I also developed an eating disorder, obsessed over the number on the scale, and hated myself.</p>
      <p class="about-bio-text">After I graduated with a degree in education, I decided to get weight loss surgery. But, guess what? THE WEIGHT STILL CAME BACK!</p>
      <h2 class="about-bio-text-header">Then, I realized something:</h2>
      <p class="about-bio-text">I realized this was more than just about needing to “just lose weight.”</p>
      <ul class="about-ulist">
        <li>It’s NOT about the scale.</li>
        <li>It’s NOT about carbs.</li>
        <li>I am NOT broken.</li>
        <li>I just need HELP.</li>
      </ul>
      <p class="about-bio-text">So, I went back to school and became a registered dietitian. After over 1,200 hours of supervised practice and starting a local support group for people with PCOS, I found my calling. Helping others helped me too. I realized I wasn’t alone and it helped to talk with people who understood my journey.</p>
      <ul class="about-ulist">
        <li>I FINALLY understood my body.</li>
        <li>I FINALLY felt in control of my body.</li>
        <li>I FINALLY found tools that helped me lose weight and stick with it!</li>
        <h2 class="about-bio-text-header">AND I’M HERE TO HELP YOU TOO!</h2>
      </ul>
    </div>
  </div>
  <Footer/>
</div>
