<div class="jumbo">
  <Header/>
  {{!-- <h2>About Emily</h2> --}}
  <div class="about-bio-box">
    <img
      class="about-emily-outside"
      src="/assets/images/emily-wall-photo-cropped.jpg"
      alt="Emily profile pic">
    <h4 class="about-bio-text">Some text here</h4>
  </div>

  <div class="about-bio-box bb-right">
    <h4 class="about-bio-text">Some other text here</h4>
    <img
      class="about-emily-mug"
      src="/assets/images/emily-rd-mug.jpg"
      alt="Emily profile with mug">
  </div>
</div>
