<div class="jumbo">
  <Header/>
  <ul class="contact-address-container">
    <li>Emily B</li>
    <li>Address</li>
    <li>more</li>
    <li>stuff</li>
    <li>email?@email?.com</li>
  </ul>
  <div class="contact-link-container">
    {{svg-jar "002-instagram" class="contact-icon"}}
    <a href="http://www.instagram.com" 
      target="_blank"
      class="contact-link">Instagram
    </a>
  </div>
  <div class="contact-link-container">
    {{svg-jar "001-facebook" class="contact-icon"}}
    <a href="http://www.facebook.com" 
      target="_blank"
      class="contact-link">Facebook
    </a>
  </div>
  <Footer-contact/>
</div>
