<div class="jumbo">
  <Header/>
  <div class="contact-link-container">
    {{svg-jar "002-instagram" class="contact-icon"}}
    <a href="https://www.instagram.com/pcos.wellness.coach/?hl=en" 
      target="_blank"
      rel="noopener noreferrer"
      class="contact-link">@PCOS.Wellness.Coach
    </a>
  </div>
  <div class="contact-link-container">
    {{svg-jar "001-facebook" class="contact-icon"}}
    <a href="http://www.facebook.com" 
      target="_blank"
      rel="noopener noreferrer"
      class="contact-link">PCOS Wellness Coach
    </a>
  </div>
  <h2>313-444-4058</h2>
  <Footer-contact/>
</div>
