<div class="jumbo jumbo-contact-page">
  <Header/>
  <div class="contact-link-container">
    <h2 class="contact-header">I'd love to hear from you!</h2>
    <p class="contact-text">Whether you have questions regarding my services or are interested in working with me, I'll get in touch as soon as possible.</p>
    <a href="mailto:emily@pcoswc.com" 
      target="_blank"
      rel="noopener noreferrer"
      class="contact-link">GET IN TOUCH
    </a>
  </div>
  <Footer/>
</div>
