<div class="jumbo">
  <Header/>
  <img 
    class="pcos-main-banner-logo"
    src="/assets/images/main-page-logo.jpg"
    alt="PCOS Welcome Banner">
  {{!-- <div class="pcos-wc-logo"></div> --}}
  <img 
    class="emily-plant"
    src="/assets/images/emily-plants-photo.jpg"
    alt="Emily outdoors with plant">
  <div class="welcome-container">
    <p class="wc-p-center wc-welcome-msg">Hey there!</p> 
    <p class="wc-p-center arimo-text">I’m Emily Battiato, registered dietitian, teacher, and PCOS coach... who also has PCOS and insulin resistance. </p>
    <p class="wc-p-center arimo-text">I help people who have both PCOS and insulin resistance take control of their bodies again through food, lifestyle, and mindset changes that work best for their unique bodies... WITHOUT the dang scale! </p>
    <p class="wc-p-center arimo-text">Just because you have PCOS doesn’t mean it has you. Together, we’ll unlock ways to manage your PCOS and insulin resistance, while mastering your mindset.</p>
    <strong class="wc-p-center arimo-text">Are you ready to take control of your PCOS and insulin resistance to help you FINALLY start feeling better and fit back into your old jeans again?</strong>
    <strong class="wc-p-center bottom-text arimo-text">I can teach you how!</strong>
    <a 
      href="https://my.practicebetter.io/#/5f9768352a90290864f74c2e/bookings?s=5f97776d2a90290864f7aade" 
      target="_blank"
      rel="noopener noreferrer"
      class="wc-button arimo-text"
      >Schedule a FREE 30-Minute Discovery Call</a>
  </div>
  <Offerings/>
  <Footer/>
</div>
