<div class="jumbo">
  <Header/>
  <img 
    class="pcos-main-banner-logo"
    src="/assets/images/main-page-logo.jpg"
    alt="PCOS Welcome Banner">
  {{!-- <div class="pcos-wc-logo"></div> --}}
  <img 
    class="emily-plant"
    src="/assets/images/emily-plants-photo.jpg"
    alt="Emily outdoors with plant">
  <div class="welcome-container">
    <p class="wc-p-center wc-welcome-msg">Hey there!</p> 
    <p class="wc-p-center arimo-text">I’m Emily Battiato, Registered Dietitian and PCOS Wellness Expert... who also has PCOS.</p>
    <p class="wc-p-center arimo-text">Are you ready to take charge of your PCOS, reverse your insulin resistance, and lose weight?</p>
    <p class="wc-p-center arimo-text">I can teach you how!</p>
    <a 
      href="https://my.practicebetter.io/#/5f9768352a90290864f74c2e/bookings?s=5f97776d2a90290864f7aade" 
      target="_blank"
      rel="noopener noreferrer"
      class="wc-button arimo-text"
      >Schedule a FREE 30-Minute Discovery Call</a>
  </div>
  <Offerings/>
  <Footer/>
</div>
