<div class="jumbo">
  <Header/>
  <div class="pcos-wc-logo"></div>
  <h2>PCOS Women's Center</h2>
  <img 
    class="emily-plant"
    src="/assets/images/emily-plants-photo.jpg"
    alt="Emily outdoors with plant">
    <div class="welcome-container">
      <p>Welcome, my fellow Cysters!</p> 
      <p>Are you ready to take charge of your PCOS, reverse your insulin resistance, and lose weight?</p>
      <p>I can teach you how!</p>
      <a href="http://www.google.com" class="wc-button">Schedule a FREE 30-Minute Discovery Call</a>
    </div>
</div>
