<div class="jumbo">
  <Header/>
  <div class="pcos-wc-logo"></div>
  <img 
    class="emily-plant"
    src="/assets/images/emily-plants-photo.jpg"
    alt="Emily outdoors with plant">
  <div class="welcome-container">
    <p class="wc-p-center">Welcome, my fellow Cysters!</p> 
    <p class="wc-p-left">Are you ready to take charge of your PCOS, reverse your insulin resistance, and lose weight?</p>
    <p class="wc-p-center">I can teach you how!</p>
    <a 
      href="http://www.google.com" 
      target="_blank"
      rel="noopener noreferrer"
      class="wc-button"
      >Schedule a FREE 30-Minute Discovery Call</a>
  </div>
  <Offerings/>
  <Footer/>
</div>
