<div class="jumbo">
  <Header/>
  <div class="about-bio-box">
    <div class="about-bio-text-container">
      <h2 class="about-bio-text-header">Are you someone with PCOS who:</h2>
      <ul class="about-ulist">
        <li>Can’t seem to lose weight No MATTER WHAT…</li>
        <li>Has tried every diet, but the weight ALWAYS comes back…</li>
        <li>Just wants to fit back into your old clothes again...</li>
        <li>Is frustrated and confused by all the conflicting “PCOS advice” on social media…</li>
        <li>Has a tumultuous relationship with the scale…</li>
        <li>Feels like you know what to do, you just doesn’t do it (or it never sticks)…</li>
      </ul>
    </div>
    <img
      class="about-emily-mug"
      src="/assets/images/emily-rd-mug.jpg"
      alt="Emily profile with mug">
  </div>
  <div class="about-bio-box">
    <div class="about-bio-text-container">
      <h2 class="about-bio-text-header">Are you ready to FINALLY find a plan that WORKS - from someone who actually UNDERSTANDS?! </h2>
      <p>If you said “Yes,” then WELCOME, FRIEND!</p>
      <p>Click the link below and let’s talk!</p>
      <a 
      href="https://my.practicebetter.io/#/5f9768352a90290864f74c2e/bookings?s=5f97776d2a90290864f7aade" 
      target="_blank"
      rel="noopener noreferrer"
      class="wc-button"
      >Schedule a FREE 30-Minute Discovery Call</a>
      <h2 class="about-bio-text-header">My program includes: </h2>
      <ul class="about-ulist">
        <li>1-on-1 private coaching over-the-phone (8 or 12 weekly calls)</li>
        <li>FREE assistance with me via text in between appointments</li>
        <li>Access to all of my course materials, including 80+ easy recipes, grocery cheat sheets, food search database, progress trackers, e-journals, meal planners, and MORE!</li>
        <li>No diets, scales, or banned food groups</li>
        <li>Tools to learn how to coach yourself through the wins</li>
        <li>Virtual Pantry Tour (to learn how to take what you have and make it fit your needs)* (included in 12 week plan only)</li>
      </ul>
    </div>
  </div>
  <div class="about-bio-box">
    <div class="about-bio-text-container">
      <h2 class="about-bio-text-header">Why work with me?</h2>
      <h2 class="about-bio-text-header">Because I know what it’s like...</h2>
      <ul class="about-ulist">
        <li>To be where you are right now.</li>
        <li>How frustrating it is to work so hard, but nothing seems to work.</li>
        <li>To be told “Just eat less and move more” and “Just lose weight.”</li>
        <li>To be called a “Liar” by doctors and dietitians when reporting your daily food intake.</li>
        <li>To want so badly to be like all those before and after photos on social media, but worry I will never get to experience that.</li>
        <li>How much it hurts when you see that number on the scale you said you would never hit.</li>
        <li>When nothing fits and you buy clothes just because they fit or are comfortable (not because they make you feel fabulous).</li>
        <li>To feel like I’m not in control of my body.</li>
      </ul>
      <h2 class="about-bio-text-header">BUT, also because I know what WORKS!</h2>
    </div>
  </div>
  <FooterEmpty/>
</div>
