<div class="jumbo">
  <Header/>
  <div class="about-bio-box bb-right">
    <h4 class="about-bio-text">Some other text here</h4>
    <img
      class="about-emily-mug"
      src="/assets/images/emily-rd-mug.jpg"
      alt="Emily profile with mug">
  </div>
  <Footer/>
</div>
