<div class="jumbo jumbo-contact-page">
  <Header/>
  <div class="test-background-page">
    {{!-- <img
    class="test-emily-kayak"
    src="/assets/images/emily-kayaking-photo.jpg"
    alt="Emily kayaking"> --}}
    <TestimonialCards/>
  </div>
  <Footer/>
</div>
